In [1]:
import numpy as np 
un_panda_numpy = np.array([100,5,20,80])
un_panda_numpy

array([100,   5,  20,  80])

In [2]:
famille_panda = [
    np.array([100, 5  , 20, 80]), # maman panda
    np.array([50 , 2.5, 10, 40]), # bébé panda
    np.array([110, 6  , 22, 80]), # papa panda
]

In [3]:
import pandas as pd

In [5]:
famille_pandas_df = pd.DataFrame(famille_panda,index=['maman','bb','papa'],columns=['pattes','poil','queue','ventre'])

In [6]:
famille_pandas_df

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bb       50.0   2.5   10.0    40.0
papa    110.0   6.0   22.0    80.0

In [7]:
famille_pandas_df.ventre

maman    80.0
bb       40.0
papa     80.0
Name: ventre, dtype: float64

In [8]:
famille_pandas_df.loc["papa"]

pattes    110.0
poil        6.0
queue      22.0
ventre     80.0
Name: papa, dtype: float64

In [9]:
famille_pandas_df.iloc[2]

pattes    110.0
poil        6.0
queue      22.0
ventre     80.0
Name: papa, dtype: float64

In [12]:
famille_pandas_df[famille_pandas_df.ventre==80]

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
papa    110.0   6.0   22.0    80.0

In [14]:
autre_pandas = pd.DataFrame([[105,4,19,80],[100,5,20,80]],
                             columns=famille_pandas_df.columns)

In [16]:
tous_les_pandas=famille_pandas_df.append(autre_pandas)

In [17]:
tous_les_pandas

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bb       50.0   2.5   10.0    40.0
papa    110.0   6.0   22.0    80.0
0       105.0   4.0   19.0    80.0
1       100.0   5.0   20.0    80.0

In [18]:
tous_les_pandas.drop_duplicates()

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bb       50.0   2.5   10.0    40.0
papa    110.0   6.0   22.0    80.0
0       105.0   4.0   19.0    80.0